* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

section {
    float: right;
    background-color: rgba(49, 45, 45, 0.322);
    width: 60%;
    height: 100%;
    border-top: 4px solid black;
}

table,
th,
td {
    border: 4px solid black;
    border-collapse: collapse;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
}

img {
    height: 150px;
    width: 150px;
    border: 7px solid green;
    border-radius: 60%;
    margin: 130px 30px 20px 150px;
}

.container {
    width: 40%;
    border-right: 10px solid black;
    height: 868px;
    background-color: rgba(255, 235, 205, 0.521);
}

.container h1 {
    text-align: center;
    font-size: 2.5em;
    position: relative;
    top: 20px;
}

#quali {
    margin: 60px;
}

ul {
    margin: 20px;
}

#name {
    margin-left: 130px;
}

#contact {
    margin: 30px 80px;
}

h2,
h1 {
    color: tomato;
}

p {
    font-size: 1.2em;
    font-family: "Roboto Mono", monospace;
}